.search {
    background: none;
    border: 2px solid #000;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: all .5s ease;
    background: url(../../../images/search.png);
    background-repeat: no-repeat;
    background-position: 90%, 0;
    background-size: 25px;
    width: 100%;
    box-sizing: border-box;
}