.trailer-section {
    display: block;
    width: 100%;
    border-top: 1px solid #afafaf;
    margin: 25px auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 210px;
}
.carousel-container {
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
}
.carousel-container div[data-arrow="left"] button {
    background: url(../../../../images/left.png);
    background-repeat: no-repeat;
    top: 25px;
    left: 5px;
}
.carousel-container div[data-arrow="right"] button {
    background: url(../../../../images/right.png);
    background-repeat: no-repeat;
    top: 25px;
    right: 5px;
}
.carousel-container button {
    opacity: .5;
    position: absolute;
    width: 25px;
    border: none;
    height: 42px;
}
.carousel-container button:hover {
    opacity: 1;
    transition: all .5s ease;
}
.trailer-section h2 {
    font-size: 18px;
    line-height: 1em;
    margin: 10px 0 20px;
}
.trailer-carousel {
    display: flex;
    box-sizing: border-box;
}

.trailer {
    width: 120px;
    margin: 0 5px;
}
.trailer p {
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    font-weight: initial;
}

.video-container {
    width: 100%;
    height: 100%;
}
