.movie-card {
    display: block;
}
.movie-card h3 {
    font-size: 16px;
    line-height: 1.2em;
    margin: 10px 0 2px;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 0 5px;
}
.movie-cover {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;
}
.ratings-and-summary {
    background: rgb(0 0 0 / 70%);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all .5s ease;
    padding: 15px;
    box-sizing: border-box;
}
.ratings-and-summary p {
    color: #fff;
    font-size: 14px;
    line-height: 1.25em;
    margin: 0;
    font-weight: 100;
}
.ratings-and-summary span {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.title-container {
    width: 100%;
    max-width: 300px;
    text-align: left;
}
.release-date {
    font-size: 14px;
    margin: 0;
}

.movie-card:hover .ratings-and-summary {
    top: 0
}
.genre {
    padding: 0;
    margin: 0;
    display: flex;
}
.genre span {
    font-size: .6rem;
    line-height: 1rem;
    color: #4e4e4e;
    font-family: system-ui;
}
@media(min-width: 360px) {
    .movie-card {
        width: 100%;
        text-align: center;
    }
}

@media(min-width: 520px) {
    .movie-card {
        width: 48%;
        margin: 1%;
    }
}

@media(min-width: 620px) {
    .movie-card {
        width: 32%;
        margin: .66%;
    }
}
@media(min-width: 1220px) {
    .movie-card {
        display: block;
        width: 24%;
        margin: .5%;
    }
}
