.category {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    flex-wrap: wrap;
}
.category_button  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
.category_button .link + .link {
    margin-left: 10px;
}
.link {
    background: none;
    border: 2px solid #000;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    transition: all .5s ease;
}
.link.active, .link:hover {
    background: #000;
    text-decoration: none;
    color: #fff;
    transition: all .5s ease;
}
.category form {
    width: 100%;
}

@media(min-width: 767px){
    .category_button, .category form {
        width: 50%;
    }
    .category_button {
        justify-content: flex-start;
    }
}