.hero-banner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    width: 100%;
    flex-wrap: wrap;
}
.container {
    width: 100%!important;
}
.with-backdrop {
    position: relative;
}

.with-backdrop h1, .with-backdrop p, .with-backdrop p span, .with-backdrop h2 {
    color: #fff;
}
.with-backdrop .trailer-arrow {
    color: #fff;
}
.with-backdrop .container {
    position: absolute;
    top: 100px;
    padding: 0 15px;
    box-sizing: border-box;
    left: 0;
    right: 0;
}
.trailer-nav {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1075px;
    margin: auto;
    margin-top: 15px;
}
.trailer-nav svg, .trailer-nav a {
    color: #000;
    font-size: 45px;
    z-index: 1;
}
.with-backdrop .trailer-nav svg, .with-backdrop .trailer-nav a {
    color: #fff;
}
.trailer-nav svg:hover, .trailer-nav a:hover {
    color: #2b869b;
}
@media(min-width: 767px){
    .with-backdrop .container {
        position: absolute;
        top: 125px;
    }
    .trailer-nav {
        justify-content: space-around;
    }
}
